body {
    position: relative;
}

main a[href^="#"] {
    opacity: 30%;
}

a:not([href^='#']) {
    border-bottom: 1px solid #c9c9c9;
}

aside a:not([href^='#']) {
    border-bottom: none;
}

aside a:not([href^='#']).active {
    border-bottom: 2px solid #c9c9c9;
}

a:not([href^='#']):hover {
    border-bottom: 2px solid #c9c9c9;
}

@media screen and (min-width: 1200px) {
    aside {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(calc(-100% - 19em));
        padding: 13px 20px;
        max-width: 200px;
    }

    .tagline {
        line-height: 1.33;
    }

    .mobile-only {
        display: none;
    }
}
